{% extends "master/base.html" %}
{% load static %}
{% block content %}
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Register Page</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- register -->
	<div class="register">
		<div class="container">
			<h3 class="animated wow zoomIn" data-wow-delay=".5s" id='confirmation-title'>Register Here</h3>
			<p class="est animated wow zoomIn" data-wow-delay=".5s" id='confirmation-message' style='display: none;'>A link has been sent to the email that you have provided. Please confirm your identity by clicking on this link.</p>
			<div class="login-form-grids" id='register-form-container'>
				<h5 class="animated wow slideInUp" data-wow-delay=".5s">profile information</h5>
				<form class="animated wow slideInUp signup" data-wow-delay=".5s" onsubmit="return false;">
					{% csrf_token %}
					<input class='post' name='first_name' type="text" placeholder="First Name..." required pattern="[A-Za-z]+">
					<input class='post' name='last_name' type="text" placeholder="Last Name..." required>
					<select class='post' name='gender' form-control" id="sel1" style='margin-top: 14px;'>
						<option>Male</option>
						<option>Female</option>
					</select>
													{% comment %} <div class="register-check-box animated wow slideInUp" data-wow-delay=".5s">
														<div class="check">
															<label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>Subscribe to Newsletter</label>
														</div>
													</div> {% endcomment %}
					<h6 class="animated wow slideInUp" id='register-logininfo' data-wow-delay=".5s">Login information</h6>
					<input class='post' name='username' type="email" placeholder="Email Address" required="true" pattern='(\D)+(\w)*((\.(\w)+)?)+@(\D)+(\w)*((\.(\D)+(\w)*)+)?(\.)[a-z]{2,}'>
					<input class='post' name='password' type="password" id='first-password' placeholder="Password" required="true" pattern="(?=(.*[a-zA-Z].*){2,})(?=.*\d.*)(?=.*\W.*)[a-zA-Z0-9\S]{8,15}" title='8-15 characters including at least 1 lowercase and uppercase alphabetic character, 1 numeric character, and one special character (!@#$%^&).'>
					<input type="password" id='second-password' placeholder="Password Confirmation" required="true" >
					<input class='post' name='phone' type="text" placeholder="Mobile Phone" required="true" style='margin-top: 14px;' pattern='\d{10}'>

													{% comment %} <div class="register-check-box">
														<div class="check">
															<label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>I accept the terms and conditions</label>
														</div>
													</div> {% endcomment %}
					<input type="submit" value="Register" onclick='MaybeDisplayConfirmPasswordError()'>
				</form>
			</div>
			<div id='response-error'>

			</div>
			<div class="register-home animated wow slideInUp" data-wow-delay=".5s">
				<a href="index.html">Home</a>
			</div>
		</div>
	</div>
<!-- //register -->
<script type='text/javascript'>
	var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

    function ConfirmPassword() {
        var password = document.getElementById("first-password").value;
        var confirmPassword = document.getElementById("second-password").value;
		return (password === confirmPassword)
    }
	function MaybeDisplayConfirmPasswordError() {
		if (!ConfirmPassword()) {
			info_desc = document.getElementById("register-logininfo")
			info_desc.innerHTML = "Passwords don't match!"
			info_desc.style.color = 'red'
		}
	}

	var form = document.querySelector('.signup').onsubmit = function (evt) {
		evt.preventDefault();

		// ajax_stuff_here
		if (ConfirmPassword()) {
			form_data = $('.signup').children('.post')
			var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
			xmlhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					res = JSON.parse(this.responseText)
					if (res['success']) {
						$('#register-form-container').css('display', 'none')
						$('#confirmation-message').css('display', 'block')
						$('#confirmation-title').html('Success')
					} else {
						$('#response-error').html('An account with this email already exists!')
					}
				}
			};
			obj_to_post = new Object()
			for (let i = 0; i < form_data.length; i++) {
				obj_to_post[form_data[i].name] = form_data[i].value
			}
			xmlhttp.open("POST", "/api/user/register/");
			xmlhttp.setRequestHeader("Content-Type", "application/json");
			xmlhttp.setRequestHeader("X-CSRFToken", csrftoken);
			xmlhttp.send(JSON.stringify(obj_to_post));
		}
	};	
</script>



{% endblock %}